Climate analysis: 
    Vacation dates May 25-June 10

In [1]:
# Python SQL toolkit and Object Relational Mapper
import pandas as pd
import matplotlib
matplotlib.use('nbagg')
from matplotlib import style
style.use('seaborn')
import matplotlib.pyplot as plt

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [2]:
# Create engine using the `demographics.sqlite` database file
### BEGIN SOLUTION
engine = create_engine("sqlite:///hawaii.sqlite")
### END SOLUTION

In [3]:
# Declare a Base using `automap_base()`
### BEGIN SOLUTION
Base = automap_base()
### END SOLUTION

In [4]:
# Use the Base class to reflect the database tables
### BEGIN SOLUTION
Base.prepare(engine, reflect=True)
### END SOLUTION

In [5]:
# Print all of the classes mapped to the Base
### BEGIN SOLUTION
Base.classes.keys()
### END SOLUTION

['hawaii_measurement', 'hawaii_station']

In [6]:
# Assign the demographics class to a variable called `Demographics`
### BEGIN SOLUTION
Measurements = Base.classes.hawaii_measurement
Stations = Base.classes.hawaii_station
### END SOLUTION

In [7]:
# Create a session
### BEGIN SOLUTION
session = Session(engine)
### END SOLUTION

In [8]:
# Use the session to query Demographics table and display the first 5 locations
### BEGIN SOLUTION
for row in session.query(Measurements).limit(5).all():
    print(row)
### END SOLUTION

<sqlalchemy.ext.automap.hawaii_measurement object at 0x10f5e0278>
<sqlalchemy.ext.automap.hawaii_measurement object at 0x10f5e02e8>
<sqlalchemy.ext.automap.hawaii_measurement object at 0x10f5e0358>
<sqlalchemy.ext.automap.hawaii_measurement object at 0x10f5e03c8>
<sqlalchemy.ext.automap.hawaii_measurement object at 0x10f5e0438>

In [13]:
# Query Emojis for `emoji_char`, `emoji_id`, and `score` and save the query into results
### BEGIN SOLUTION
results_measurement = session.query(Measurements.station,Measurements.date,Measurements.prcp, Measurements.tobs).limit(10).all()
### END SOLUTION
results_measurement

[('USC00519397', '2010-01-01', 0.08, 65),
 ('USC00519397', '2010-01-02', 0.0, 63),
 ('USC00519397', '2010-01-03', 0.0, 74),
 ('USC00519397', '2010-01-04', 0.0, 76),
 ('USC00519397', '2010-01-07', 0.06, 70),
 ('USC00519397', '2010-01-08', 0.0, 64),
 ('USC00519397', '2010-01-09', 0.0, 68),
 ('USC00519397', '2010-01-10', 0.0, 73),
 ('USC00519397', '2010-01-11', 0.01, 64),
 ('USC00519397', '2010-01-12', 0.0, 61)]

In [10]:
# Query Emojis for `emoji_char`, `emoji_id`, and `score` and save the query into results
### BEGIN SOLUTION
results_station = session.query(Stations.station,Stations.name,Stations.latitude, Stations.longitude,Stations.elevation).all()
### END SOLUTION
results_station

[('USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 ('USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 ('USC00514830',
  'KUALOA RANCH HEADQUARTERS 886.9, HI US',
  21.5213,
  -157.8374,
  7.0),
 ('USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 ('USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 ('USC00519523',
  'WAIMANALO EXPERIMENTAL FARM, HI US',
  21.33556,
  -157.71139,
  19.5),
 ('USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9),
 ('USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 ('USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]

In [11]:

# Load the results into a pandas dataframe. Set the index to the `emoji_id`
### BEGIN SOLUTION
hawaii_measurement_df = pd.DataFrame(results_measurement[:], columns=['Station', 'Date', 'Percipitation','Temperature'])
hawaii_measurement_df.set_index('Station', inplace=True, )
### END SOLUTION
hawaii_measurement_df.head()

                   Date  Percipitation  Temperature
Station
USC00519397  2010-01-01           0.08           65
USC00519397  2010-01-02           0.00           63
USC00519397  2010-01-03           0.00           74
USC00519397  2010-01-04           0.00           76
USC00519397  2010-01-07           0.06           70

In [12]:
hawaii_station_df = pd.DataFrame(results_station[:], columns=['Station', 'StationName', 'Latitude','Longitute','Elevation'])
hawaii_station_df.set_index('Station', inplace=True, )
### END SOLUTION
hawaii_station_df .head()

,StationName,Latitude,Longitute,Elevation
Station,,,,
USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6